$container-width: 1500px;
$container-width-small: 1300px;
$container-padding-x: 10px;
$bg-color-main-body: #f8fafc;
$bg-color-header: #bcccdc;
$color-black: #000;
$bg-color-sort-search: #f7f7f7;
$color-btn: #e6e6e6;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$font-family-base: 'Publicsans', sans-serif;
$font-family-accent: 'GeistMono', sans-serif;
$font-family-main: 'Parkinsans', sans-serif;
